<div class="component-content pageActive" id="Filestodownload">
    <h1>
        Files to download
    </h1>
    <p>
        Build files for all directives are distributed in several flavours: minified for production usage, un-minified for development, with templates. All the options are described and can be downloaded from SE Private Bower Repository.
    </p>
    <p>Create an entry in application's bower.json as below to get the component</p>
    <div class="codeContent panelContent pdl">
        <div class="code-content" hljs="">
          'seheader': 'http://10.194.156.27:9019/bower_components/se-header-component-1.1.0.zip'
    	</div>
    </div>
</div>
