<div class="component-content pageActive" id="Gettingstarted">
    <h1>
        Getting started
    </h1>
    <p>
        This component contains a set of
        <span>
            native AngularJS directives
        </span>
        based on WEBUI's markup and CSS.  The
        <span style="line-height: 1.42857;">
            required dependencies
        </span>
        are:
    </p>
    <ul>
        <li>
            WEBUI
        </li>
        <li>
            <a class="external-link" href="http://angularjs.org/" rel="nofollow">
                AngularJS
            </a>
            (requires AngularJS 1.4.x or higher, tested with 1.5.5). 0.14.3 is the last version of this library that supports AngularJS 1.3.x and 0.12.0 is the last version that supports AngularJS 1.2.x.
        </li>
        <li>
            <a class="external-link" href="http://getbootstrap.com/" rel="nofollow">
                Bootstrap CSS
            </a>
            (tested with version 3.3.6). This version of the library (2.0.0) works only with Bootstrap CSS in version 3.x. 0.8.0 is the last version of this library that supports Bootstrap CSS in version 2.3.x.
        </li>
    </ul>
</div>