<div class="component-content pageActive" id="Installation">
    <h1>
        Installation
    </h1>
    <p>
        Include CSS and JS files in the main html file
    </p>
    <h5>
        CSS:
    </h5>
    <div class="code-content"  hljs hljs-source="'{{cssInclude}}'">        
    </div>
    <h5>
        JS:
    </h5>
    <p>
        <em>
            Note: It's best to keep all JS files in body
                tag in html file for the performance optimization.
        </em>
    </p>
    <div class="code-content" hljs hljs-source="'{{scriptInclude}}'">        
    </div>
    <p>
        As soon as you've got all the files downloaded and included in your page you just need to declare a dependency on the
        <span style="color: rgb(255,102,0);">
            seHeaderComponent
        </span>
        <a class="external-link" href="http://docs.angularjs.org/guide/module" rel="nofollow">
            module
        </a>
        :
    </p>
    <div class="code-content" hljs="">
        angular.module('myModule', ['seHeaderComponent']);
    </div>
</div>