<div class="component-content pageActive" id="Filestodownload" ng-show="seHeaderComponent === 'seHeaderComponent1-1-0'">
    <h1>
        seHeaderComponent 1.0.0 to seHeaderComponent 1.2.0
    </h1>
    <p>
        To install seHeaderComponent 1.2.0, Please update existing bower json in project folder.
    </p>
    <p>Update the seHeaderComponent entry in application's bower.json as below to get the latest component</p>
    <div class="codeContent panelContent pdl">
        <div class="code-content" hljs="">
          'se-header-component': '1.2.0-RC1'
    	</div>
    </div>
    <p> For installation, please check SDK portal seHeader component tab under Web Components</p>
</div>
