<div class="component-content pageActive" id="seHeader">
  <h2>
    seCustomHeader Example (Main Header Directive)
  </h2>
  <hr/>
  <div class="sectionColumnWrapper conf-macro output-block" data-hasbody="true" data-macro-name="section">
    <div class="sectionMacro">
      <div class="sectionMacroRow">
        <div class="columnMacro conf-macro output-block" data-hasbody="true" data-macro-name="column" style="width:50%;min-width:50%;max-width:50%;">
          <div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;">
            <div class="codeContent panelContent pdl">
              <div class="code-content" hljs="">
                <!-- header starts -->
                <se-custom-header>
                  <!-- header topmenu starts -->
                  <se-header-top-menu>
                    <!-- hamburger menu starts -->
                    <se-hamburger-menu visibility="true">
                      <!--Application specific sidebar content starts-->
                      <ul style="list-style-type: none;padding: 30px 0px;">
                        <li style="margin: 30px 0px"><a href="#">About</a></li>
                        <li style="margin: 30px 0px"><a href="#">Home</a></li>
                        <li style="margin: 30px 0px"><a href="#">FAQ</a></li>
                        <li style="margin: 30px 0px"><a href="#">Support</a></li>
                      </ul>
                      <!--Application specific sidebar content ends-->
                    </se-hamburger-menu>
                    <!--hamburger menu ends-->
                    <!--Application logo start-->
                    <se-application-logo img-src="images/ecoreal.png" img-link="www.schneider-electric.co.in/en"></se-application-logo>
                    <!--Application logs ends-->
                    <!--Application specific content starts-->
                    <se-application-content>
                      <!--Application content-->
                      <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Switchboard<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">SwitchBoard1</a></li>
                          <li><a href="#">SwitchBoard2</a></li>
                          <li><a href="#">SwitchBoard3</a></li>
                        </ul>
                      </div>
                      <!--Application content-->
                    </se-application-content>
                    <!--Application specific content ends-->
                    <!--UserProfile and localization starts-->
                    <se-login-localization locale-visibility="true" locale="locales"  onbefore-logout="onbeforeLogout" disable-locale="false">
                      <!--Application content-->
                      <a href="#" title="Application content Text">Application content Text</a>
                      <!--Application content-->
                    </se-login-localization>
                    <!--UserProfile and localization ends-->
                    <se-logo logo-src="images/logo-se.svg" logo-link="www.schneider-electric.co.in/en"></se-logo>
                  </se-header-top-menu>
                  <!-- header topmenu starts -->
                  <!-- header bottommenu starts -->
                  <se-header-bottom-menu>
                    <!--Application content-->
                    <div style="color:#ffffff" style="height: 58px">
                      <div style="padding-left: 24px;float: left">Home</div>
                      <div style="padding-left: 24px;float: left">Projects</div>
                      <div style="padding-left: 24px;float: left">Products</div>
                    </div>
                    <!--Application content-->
                  </se-header-bottom-menu>
                  <!-- header bottommenu starts -->
                </se-custom-header>
                <!-- header ends -->
              </div>
            </div>
          </div>
        </div>
        <div class="columnMacro conf-macro output-block" data-hasbody="true" data-macro-name="column" style="width:50%;min-width:50%;max-width:50%;">
          <p>
            This directive builds the main header section for the header component.
          </p>
          <p>
            This component can contain below elements
          </p>
          <ul>
            <li style="list-style-type: none;background-image: none;">
              <ul>
                <li>
                  Drop down
                </li>
                <li>
                  Simple texts
                </li>
                <li>
                  Buttons
                </li>
                <li>
                  search box
                </li>
                <li>
                  logo
                </li>
                <li>
                  app name
                </li>
              </ul>
            </li>
          </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
