<div class="component-content pageActive" id="seHeader">
  <h2>
    seCustomHeader (Main Header Directive)
  </h2>
  <hr/>
  <div class="sectionColumnWrapper conf-macro output-block" data-hasbody="true" data-macro-name="section">
    <div class="sectionMacro">
      <div class="sectionMacroRow">
        <div class="columnMacro conf-macro output-block" data-hasbody="true" data-macro-name="column" style="width:50%;min-width:50%;max-width:50%;">
          <div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;">
            <div class="codeContent panelContent pdl">
              <div class="code-content" hljs="">
                <!-- header starts -->
                <se-custom-header>
                  <!-- header topmenu starts -->
                  <se-header-top-menu>
                    <!-- hamburger menu starts -->
                    <se-hamburger-menu visibility="true">
                      <!--Application specific sidebar content-->
                    </se-hamburger-menu>
                    <!--hamburger menu ends-->
                    <!--Application logo start-->
                    <se-application-logo img-src="images/ecoreal.png" img-link="www.schneider-electric.co.in/en"></se-application-logo>
                    <!--Application logs ends-->
                    <!--Application specific content starts-->
                    <se-application-content>
                      <!--Application content-->
                    </se-application-content>
                    <!--Application specific content ends-->
                    <!--UserProfile and localization starts-->
                    <se-login-localization locale-visibility="true" locale="locales"  onbefore-logout="onbeforeLogout" disable-locale="false">
                      <!--Application content-->
                    </se-login-localization>
                    <!--UserProfile and localization ends-->
                    <se-logo logo-src="images/logo-se.svg" logo-link="www.schneider-electric.co.in/en"></se-logo>
                  </se-header-top-menu>
                  <!-- header topmenu starts -->
                  <!-- header bottommenu starts -->
                  <se-header-bottom-menu>
                    <!--Application content-->
                  </se-header-bottom-menu>
                  <!-- header bottommenu starts -->
                </se-custom-header>
              </div>
            </div>
          </div>
        </div>
        <div class="columnMacro conf-macro output-block" data-hasbody="true" data-macro-name="column" style="width:50%;min-width:50%;max-width:50%;">
          <p>
            This directive builds the main header section for the header component.
          </p>
          <p>
            This component can contain below elements
          </p>
          <ul>
            <li style="list-style-type: none;background-image: none;">
              <ul>
                <li>
                  Drop down
                </li>
                <li>
                  Simple texts
                </li>
                <li>
                  Buttons
                </li>
                <li>
                  search box
                </li>
                <li>
                  logo
                </li>
                <li>
                  app name
                </li>
              </ul>
            </li>
          </ul>
          <p>
            Usage of the directive
          </p>
          <ul>
            <li>
              Application needs to place the content inside the directive <span style="color: red" >"se-application-content"</span>,if they wanted to place inside the white container
            </li>
            <li>
              Application needs to place the content inside the directive <span style="color: red" >"se-header-bottom-menu"</span>,if they wanted to place inside the green container
            </li>
            <li>
              Application can show/hide the hamburger menu by setting the <span style="color: red" >"visibility"</span> to true/false in the directive <span style="color: red" >"se-hamburger-menu"</span>.
            </li>
            <li>
              Application can show/hide the locale data by setting the <span style="color: red" >"locale-visibility"</span> to true/false.<br>
                 Application need to send the locale data by setting the <span style="color: red" >"locale"</span>attribute.<br>
                 Application can disable/enable the locale display by setting <span style="color: red" >"disble-locale"</span> attribute.<br>
                 Application can call the functions before logout by setting <span style="color: red" >"on-before-logout"</span> attribute.
            </li>
            <li>
              Application can set the logo by setting the <span style="color: red" >"img-src and img-link"</span> attribute in the directive<span style="color: red" >"se-application-logo"</span>.
            </li>
            <li>
              Application can set the schneider logo by setting the <span style="color: red" >"logo-src and logo-link"</span> attribute in the directive<span style="color: red" >"se-logo"</span>.
            </li>
          </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
