<div class="hamburgerIcon" ng-show="visibility">
    <a href="#" data-toggle="offcanvas"><img src="images/hamburgermenu.svg"></a>
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true"><img src="images/sidedrawer_close.svg"></span>
        </button>
        <div ng-transclude=""></div>
    </nav>
</div>