<div class="userInfo">
    <ul class="nav navbar-nav loggedInUserInfo loginprofile" ng-hide="userLoggedIn" ng-class="{'before-login': !userLoggedIn}">
        <li class="dropdown user-name"><a href="#" class="user-name-text dropdown-toggle disabled" data-toggle="dropdown"><img src="images/user.svg"></a>
            <ul class="dropdown-menu dropdown-position" role="menu">
                <li class="dropdown-submenu" ng-show="localeVisibility" ng-class="{'disabled-locale':disableLocale}" >
                    <a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown" ng-cloak="">{{selectedCountryLangauge}}</a>
                    <ul class="dropdown-menu" ng-class="{'disabled-locale':disableLocale}">
                        <li class="submenu">
                            <ul class="nav nav-stacked" ng-repeat="countryandlanguage in locale">
                                <li class="nav-header se-country-language-selection-region-name" ng-cloak="">{{countryandlanguage.region}}</li>
                                <li class="country-select" ng-repeat="countryandlanguage1 in countryandlanguage.Countries"
                                    ng-click="CountryLanguageOptionChanged(countryandlanguage1,countryandlanguage.region)"><a ng-cloak="">{{countryandlanguage1.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="login-before"><a ng-cloak="" ng-click="login()" translate="">Login</a></li>
            </ul><!--nav navbar-nav-->
        </li>
    </ul>
    <ul class="nav navbar-nav loggedInUserInfo loginprofile" ng-show="userLoggedIn">
        <li class="dropdown user-name"><a href="#" class="user-name-text dropdown-toggle disabled" data-toggle="dropdown" ng-cloak="">{{userName}}</a>
            <ul class="dropdown-menu dropdown-position" role="menu">
                <li class="user-full-name"><p ng-cloak="" translate="" title="{{userFullName}}">{{userFullName}}</p></li>
                <li class="divider">
                <li class="dropdown-submenu" ng-show="localeVisibility" ng-class="{'disabled-locale':disableLocale}" >
                    <a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown" ng-cloak="">{{selectedCountryLangauge}}</a>
                    <ul class="dropdown-menu" ng-class="{'disabled-locale':disableLocale}">
                        <li>
                            <ul class="nav nav-stacked" ng-repeat="countryandlanguage in locale">
                                <li class="nav-header se-country-language-selection-region-name" ng-cloak="">{{countryandlanguage.region}}</li>
                                <li class="country-select" ng-repeat="countryandlanguage1 in countryandlanguage.Countries"
                                    ng-click="CountryLanguageOptionChanged(countryandlanguage1,countryandlanguage.region)"><a ng-cloak="">{{countryandlanguage1.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li ng-transclude></li>
                <li class="logout"><a ng-click="logout()" translate="">Logout</a></li>
            </ul><!--nav navbar-nav-->
        </li>
    </ul>
</div>