<!DOCTYPE doctype html>
<html class="no-js" ng-app="se-branding">
<head>
  <meta charset="utf-8"/>
  <title ng-bind="metatags.title">
  </title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="{{ metatags.description }}" name="description"/>
  <meta content="{{ metatags.keywords }}" name="keywords"/>
  <meta content="{{ metatags.applicationname }}" name="application-name"/>
  <meta content="{{ metatags.robots }}" name="robots"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/webui/dist/web-ui-component.css" />
  <link rel="stylesheet" href="bower_components/se-header-component/se-header-component-all.css" />
  <link href="styles/app.css" rel="stylesheet"/>
  <link href="styles/github.min.css" rel="stylesheet"/>
  <link href="styles/lightbox.min.css" rel="stylesheet">
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-controller="landingPage" role="document">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="wrap">
    <!-- header starts -->
    <se-custom-header>
      <!-- header topmenu starts -->
      <se-header-top-menu>
        <!-- hamburger menu starts -->
         <se-hamburger-menu visibility="true">
           <!--Application specific sidebar content starts-->
           <ul style="list-style-type: none;padding: 30px 0px;">
             <li style="margin: 30px 0px"><a href="#">About</a></li>
             <li style="margin: 30px 0px"><a href="#">Home</a></li>
             <li style="margin: 30px 0px"><a href="#">FAQ</a></li>
             <li style="margin: 30px 0px"><a href="#">Support</a></li>
           </ul>
           <!--Application specific sidebar content ends-->
         </se-hamburger-menu>
        <!--hamburger menu ends-->
        <!--Application logo start-->
        <se-application-logo img-src="images/ecoreal.png" img-link="www.schneider-electric.co.in/en"></se-application-logo>
        <!--Application logs ends-->
        <!--Application specific content starts-->
        <se-application-content>
          <!--Application content-->
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Switchboard<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">SwitchBoard1</a></li>
              <li><a href="#">SwitchBoard2</a></li>
              <li><a href="#">SwitchBoard3</a></li>
            </ul>
          </div>
          <!--Application content-->
        </se-application-content>
        <!--Application specific content ends-->
        <!--UserProfile and localization starts-->
        <se-login-localization locale-visibility="true" locale="locales"  onbefore-logout="onbeforeLogout" disable-locale="false">
          <!--Application content-->
          <a href="#" title="Application content Text">Application content Text</a>
          <!--Application content-->
        </se-login-localization>
        <!--UserProfile and localization ends-->
        <se-logo logo-src="images/logo-se.svg" logo-link="www.schneider-electric.co.in/en"></se-logo>
      </se-header-top-menu>
      <!-- header topmenu starts -->
      <!-- header bottommenu starts -->
      <se-header-bottom-menu>
        <!--Application content-->
        <div style="color:#ffffff" style="height: 58px">
          <div style="padding-left: 24px;float: left">Home</div>
          <div style="padding-left: 24px;float: left">Projects</div>
          <div style="padding-left: 24px;float: left">Products</div>
        </div>
        <!--Application content-->
      </se-header-bottom-menu>
      <!-- header bottommenu starts -->
    </se-custom-header>
    <!-- header ends -->
    <!--div class="push"></div-->
    <div class="container-fluid doc-main-content">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="doc-nav">
            <ul class="side-fix-nav first-part">
              <li ng-repeat="topic in topics">
                <a ng-click="nav(topic.modelValue)">
                  {{topic.name}}
                </a>
              </li>
            </ul>
            <ul class="side-fix-nav middle-part">
              <li>
                <strong>
                  Usage
                </strong>
              </li>
            </ul>
            <ul class="side-fix-nav last-part">
              <li ng-repeat="dir in directives">
                <a ng-click="nav(dir.modelValue)">
                  {{dir.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 doc-view">
          <div ng-view="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- alternate footer starts -->
  <se-footer-alt config="footerconfig" footersociallinks="footerSocialLinks" mainfooterlinks="mainfooterlinks" stick-bottom="">
  </se-footer-alt>
  <!-- alternate footer ends -->
</div>
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/ng-scrollbar/dist/ng-scrollbar.js"></script>
<script src="bower_components/webui/dist/web-ui-component-all.js"></script>
<script src="bower_components/se-header-component/se-header-component-all.js"></script>
<!-- endbower -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/highlight.min.js"></script>
<script src="scripts/angular-highlightjs.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/se-branding.js"></script>
<script src="scripts/config.js"></script>
<script src="locales/translations.js"></script>

<!--Code for dropdown demo-->
<script type="text/javascript">
  $( document ).ready(function() {
    $(".appContentHeaderTop .dropdown-menu li a").click(function () {
      var selText = $(this).text();
      $(this).parents('.appContentHeaderTop .dropdown').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });

  });
</script>
<!--Code for dropdown demo ends-->
<!-- endbuild -->
</body>
</head>
</html>
