//color
@se-hdr-green: #3dcd58;
@se-hdr-dark-green: #009530;
@se-hdr-white: #ffffff;
@se-hdr-half-white: #fafafa;
@se-hdr-light-gray: #f9f9f9;
@se-arial-rounded: "ArialRounded";
@se-hdr-gunmetal: #505559;
@se-hdr-slate-gray: #626469;
@se-hdr-white-two: #eaeaea;
@se-hdr-warm-gray: #9b9b9b;
@se-hdr-gray-2: #aaaaaa;
@se-hdr-side-drawer-bg-color: #eaeaea;
body {
    min-width: 280px;
    .se-custom-header {
        .side-drawer-container {
            display: none;
        }
    }
}
body.top-head-no-contents {
    padding-top: 66px;
}

.se-custom-header {
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    > * {
        outline: none !important;
    }
    .side-title {
        display: none;
    }
    .se-hdr-selector {
        margin-top: 9px;
        margin-bottom: 9px;
        text-align: center;
        position: relative;
        * {
            outline: none;
        }
        .se-hdr-selector-btn {
            position: relative;
            button.se-btn {
                border: 1px solid #ffffff;
                width: 100%;
                border-radius: 0;
                height: 30px;
                padding: 4px 24px 4px 12px;
                line-height: 18px;
                font-size: 14px;
                display: block;
                vertical-align: middle;
                min-height: auto;
                min-width: auto;
                background-color: transparent;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &:after {
                display: block;
                font: normal normal normal 24px/30px FontAwesome;
                content: "\f107";
                position: absolute;
                width: 20px;
                max-height: 24px;
                height: 24px;
                color: #fff;
                right: 4px;
                top: 1px;
            }
        }
        .se-hdr-selector-options-wrap {
            position: fixed;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            z-index: 20;
            background-color: @se-hdr-white;
            .se-hdr-selector-search {
                margin: 5px;
                padding: 0 20px 5px 0;
                position: relative;
                input {
                    border: 0 none;
                    width: 100%;
                    outline: none;
                    padding: 3px;
                    border-bottom: 1px solid @se-hdr-green;
                }
                &:before {
                    display: block;
                    font: normal normal normal 14px/24px FontAwesome;
                    content: "\f002";
                    position: absolute;
                    width: 20px;
                    max-height: 24px;
                    height: 24px;
                    color: @se-hdr-green;
                    right: 0;
                    top: 0;
                }
            }
            .se-hdr-selector-options {
                background-color: @se-hdr-light-gray;
                overflow: auto;
                .ngsb-wrap .ngsb-scrollbar {
                    .ngsb-track {
                        background-color: transparent;
                    }
                    .ngsb-thumb-pos .ngsb-thumb {
                        background-color: @se-hdr-gray-2;
                    }
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 5px 10px;
                        padding: 0 5px;
                        vertical-align: middle;
                        border-bottom: 1px solid #aaa;
                        .option-label {
                            min-height: 40px;
                            max-height: 40px;
                            overflow: hidden;
                            vertical-align: middle;
                            float: left;
                            text-align: left;
                            width: 70%;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 40px;
                            cursor: pointer;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            &:hover {
                                color: @se-hdr-green;
                            }
                        }
                        .option-actions {
                            min-height: 40px;
                            max-height: 40px;
                            overflow: hidden;
                            vertical-align: middle;
                            float: right;
                            width: 30%;
                            font-size: 16px;
                            line-height: 40px;
                            .fa {
                                padding: 10px 0;
                                margin: 0 5px 0 0;
                                cursor: pointer;
                                &:last-child {
                                    margin: 0;
                                }
                                &:hover {
                                    color: @se-hdr-green;
                                }
                            }
                            .fa.disabled {
                                opacity: 0.2;
                                cursor: default;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
            .se-hdr-selector-actions {
                padding: 10px 20px;
                .se-btn {
                    background-color: @se-hdr-green;
                    width: 100%;
                    font-size: 12px;
                    line-height: 18px;
                    height: 30px;
                    padding: 6px;
                    min-height: 30px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0 0 5px 0;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    .se-header-main {
        height: 68px;
        background-color: @se-hdr-green;
        border-bottom: 5px solid @se-hdr-dark-green;
        width: 100%;
        overflow: hidden;
        .side-drawer-trigger {
            display: none;
        }
        .se-hdr-main-wrap {
            padding: 7px 0;
        }
        .se-hdr-slicker {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            .se-slick-left {
                color: @se-hdr-white;
                position: absolute;
                left: 0px;
                top: 16px;
                cursor: pointer;
            }
            .se-slick-left.disabled {
                opacity: 0.35;
            }
            .se-slick-right {
                color: @se-hdr-white;
                position: absolute;
                right: 0px;
                top: 16px;
                cursor: pointer;
            }
            .se-slick-right.disabled {
                opacity: 0.35;
            }
            .se-hdr-slicker-track {
                overflow: hidden;
                width: 100%;
                .se-hdr-slicker-wrap {
                    width: 100%;
                    -webkit-transition: margin-left 1s linear;
                    -moz-transition: margin-left 1s linear;
                    -o-transition: margin-left 1s linear;
                    transition: margin-left 1s linear;
                    > * {
                        float: left;
                        display: block;
                        margin-right: 10px;
                    }
                }
            }
        }
        .se-hdr-slicker.noSlicker {
            padding-left: 0px;
            padding-right: 0px;
            .se-hdr-slicker-track {
                .se-hdr-slicker-wrap {
                    width: 100% !important;
                }
            }
        }
        .se-hdr-column > * {
            float: left;
            margin-left: 10px;
            display: block;
        }
        .se-hdr-icon {
            margin: 6px 0;
            width: 40px;
            height: 40px;
            overflow: hidden;
            background-color: @se-hdr-dark-green;
            cursor: pointer;
            img {
                height: 100%;
            }
        }
        .se-hdr-title {
            margin-left: 0;
            margin-top: 8px;
            margin-bottom: 8px;
            padding: 7px 0;
            color: @se-hdr-white;
            font-family: @se-arial-rounded;
            font-size: 14px;
            line-height: 18px;
            font-weight: bold;
            a {
                color: @se-hdr-white;
                display: inline-block;
            }
            i {
                margin: 0 10px 0 8px;
            }
        }
        .se-hdr-title.divider {
            border-right: 1px solid @se-hdr-white;
            padding-right: 15px;
        }
        .se-hdr-dropdown {
            margin-top: 9px;
            margin-bottom: 9px;
            text-align: center;
            .se-hdr-dropdown-btn {
                background-color: transparent;
                border: 1px solid @se-hdr-white;
                color: @se-hdr-white;
                font-size: 14px;
                line-height: 16px;
                padding: 4px 20px 4px 10px;
                margin: 2px 0;
                border-radius: 0;
                text-align: left;
                position: relative;
                outline: none;
                span.glyphicon {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
                span.ddlabel {
                    text-align: left;
                    display: block;
                    overflow: hidden;
                }
                span.caret {
                    position: absolute;
                    right: 7px;
                    top: 12px;
                }
            }
            .se-hdr-dropdown-btn.se-hdr-dd-icon {
                padding-left: 20px;
            }
            .se-hdr-dropdown-btn.se-hdr-dd-plain {
                border: 0px none;
                span.ddlabel {
                    display: inline;
                }
                span.caret {
                    position: static;
                    display: inline-block;
                }
            }
        }
        .se-hdr-menu {
            margin: 0px;
            > ul {
                margin: 0px 15px;
                padding: 0;
                > li {
                    list-style: none;
                    display: block;
                    float: left;
                    margin: 0 15px 0 0;
                    padding: 16px 0 13px 0;
                    border-bottom: 3px solid transparent;
                    &:last-child {
                        margin-right: 0;
                    }
                    ul {
                        display: none;
                        padding: 20px 10px;
                        background: @se-hdr-half-white;
                        position: fixed;
                        left: 0;
                        width: 100%;
                        top: 68px;
                        list-style: none;
                        li {
                            margin: 10px 0;
                            a {
                                color: @se-hdr-dark-green;
                                cursor: pointer;
                            }
                        }
                    }
                    > ul.active {
                        display: block;
                    }
                    a {
                        font-family: @se-arial-rounded;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: bold;
                        color: @se-hdr-white;
                        text-transform: uppercase;
                        cursor: pointer;
                        outline: none;
                    }
                }
                > li.active {
                    border-bottom: 3px solid @se-hdr-white;
                }
            }
        }
        .se-hdr-search {
            margin: 9px 0;
            .side-title {
                display: none;
            }
            form.se-hdr-seach-form {
                position: relative;
                .form-group.se-hdr-search-input {
                    margin-right: 3px;
                    input.form-control#searchtext {
                        border: 1px solid rgb(61, 205, 88);
                        font-size: 15px;
                        line-height: 16px;
                        padding: 4px 26px 4px 10px;
                        border-radius: 0px;
                        text-align: left;
                        position: relative;
                        height: 30px;
                    }
                }
                .form-group.se-hdr-search-icon {
                    position: absolute;
                    top: 2px;
                    right: 5px;
                    button.se-hdr-search-btn {
                        background-color: transparent;
                        border: 0 none;
                        color: @se-hdr-green;
                        font-size: 16px;
                        line-height: 20px;
                        padding: 0px;
                        margin: 5px;
                        outline: none;
                    }
                }
            }
        }
        .se-hdr-btn {
            margin: 5px 0;
            button.se-btn {
                .btn-styles;
            }
            a.se-btn {
                .btn-styles;
            }
        }
    }
    /*se-top-header starts*/
    .se-top-header {
        background-color: @se-hdr-white;
        .se-hdr-column > * {
            float: left;
            margin-left: 10px;
            display: block;
        }
        /* simple text*/
        .se-plain-text {
            color: @se-hdr-gunmetal;
            font-size: 13px;
            margin-top: 7px;
            margin-left: 14px;
        }
        /*ends*/
        /* se-hdr-selector */
        .se-hdr-selector {
            margin: 0;
            .se-hdr-selector-btn {
                &:after {
                    color: @se-hdr-gunmetal;
                    font-size: 14px;
                }
                button.se-btn {
                    border: 0 none;
                    color: @se-hdr-gunmetal !important;
                    line-height: 16px;
                    font-size: 12px;
                    text-align: left;
                    text-shadow: none;
                }
            }
        }
        /*se dropdown*/
        .se-hdr-dropdown {
            text-align: center;
            margin-left: 14px;
            .se-hdr-dropdown-btn {
                background-color: transparent;
                border: 1px solid @se-hdr-white;
                font-size: 12px;
                font-weight: normal;
                color: @se-hdr-gunmetal;
                line-height: 16px;
                padding: 4px 10px;
                margin: 2px 0;
                border-radius: 0;
                text-align: left;
                position: relative;
                padding-right: 20px;
                span {
                    .ddlabel {
                        text-align: left;
                        display: inline;
                        overflow: hidden;
                    }
                    .caret {
                        position: absolute;
                        right: 0px;
                        top: 10px;
                    }
                }
            }
        }
        /*ends*/
        /*se-login*/
        .se-login-top {
            margin: 5px 5px 0 5px;
            a {
                color: @se-hdr-slate-gray;
                font-size: 13px;
                font-weight: normal;
            }
            a:hover {
                color: @se-hdr-slate-gray;
                text-decoration: underline;
            }
            div {
                ul {
                    display: block;
                    text-align: center;
                    padding: 0;
                    li {
                        display: table-cell;
                        vertical-align: middle;
                        a:before {
                            margin-right: 8px;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
            .fa-user {
                margin-right: 3px;
            }
            .header-login-link {
                .selected:after {
                    display: inline-block;
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 20px 10px 10px;
                    border-color: transparent transparent @se-hdr-white transparent;
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -10px;
                }
                a {
                    text-transform: none;
                    letter-spacing: normal;
                    text-decoration: none;
                    cursor: pointer;
                }
                a:hover {
                    color: @se-hdr-dark-green;
                }
                .user-profile {
                    position: relative;
                    padding-right: 15px;
                }
                .user-profile a:before {
                    display: inline-block;
                    content: '';
                    background-repeat: no-repeat;
                    background-size: 324px 304px;
                    width: 15px;
                    height: 15px;
                    background-position: -197px -285px;
                    margin-left: 30px;
                }
            }
            .profile-details {
                min-width: 130px;
                position: absolute;
                z-index: 21;
                top: 20px;
                background-color: @se-hdr-white;
                text-align: right;
                right: 0px;
                border: 1px solid @se-hdr-white-two;
                margin: 0px;
                padding: 0px;
                border-radius: 0px;
                float: none;
                left: initial;
                height: 40px;
                ul {
                    padding: 0px;
                    margin: 0px;
                    display: block;
                    li {
                        padding: 0px;
                        margin: 0px;
                        list-style: none;
                        border-bottom: 1px solid @se-hdr-white-two;
                        display: block;
                        cursor: pointer;
                        a {
                            text-decoration: none;
                            line-height: 40px;
                            text-align: center;
                            display: block;
                        }
                        a:hover {
                            text-decoration: none;
                            background-color: @se-hdr-white-two;
                        }
                    }
                    li:nth-last-child(1) {
                        border-bottom: 0px;
                    }
                }
            }
        }
        /*ends*/
        /*country language */
        .se-country-top {
            padding: 0;
            margin: 3px 5px 0 5px;
            float: left;
            a {
                color: @se-hdr-slate-gray;
                font-size: 13px;
                font-weight: normal;
                cursor: pointer;
            }
            a:hover {
                color: @se-hdr-dark-green;
            }
            div {
                ul {
                    display: block;
                    text-align: center;
                    padding: 0;
                    li {
                        display: table-cell;
                        vertical-align: middle;
                        a:before {
                            margin-right: 8px;
                            position: relative;
                            top: 3px;
                        }
                        .fa-globe {
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
        /*ends*/
        /*side nav starts*/
        .se-nav-icon {
            float: left;
            color: @se-hdr-dark-green;
            margin-top: 4px;
            margin-left: 18px;
        }
        .se-hdr-sidenav {
            width: 100%;
            float: left;
            position: fixed;
            position: fixed;
            left: 0;
            top: 105px;
            background-color: @se-hdr-white;
            height: 50%;
            text-align: left;
            div {
                width: 100%;
                text-align: left;
                margin-top: 12px;
            }
            .se-top-hdr-side-nav-close {
                float: right;
                text-align: right;
                color: @se-hdr-warm-gray;
            }
            .se-hdr-dropdown {
                text-align: left;
                margin-left: 0;
            }
            .se-plain-text {
                margin-left: 10px;
                span {
                    p {
                        margin: 0;
                    }
                }
            }
        }
        .se-hdr-sidenav-hide {
            display: none;
        }
        /*sidenav ends */
    }
    /*Top header ends*/
}

.btn-styles() {
    border-radius: 0;
    height: 30px;
    padding: 4px 12px;
    line-height: 18px;
    margin: 9px 0px;
    font-size: 14px;
    display: block;
    vertical-align: middle;
    min-height: auto;
    min-width: auto;
}

.side-title() {
    font-size: 13px;
    line-height: 16px;
    padding: 0px 5px 10px 10px;
    text-transform: uppercase;
    font-weight: 700;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .se-custom-header {
        .se-header-main {
            height: auto;
            .se-side-menu-icon {
                color: #fff;
                padding: 10px 0;
                font-size: 28px;
                line-height: 28px;
                outline: none;
            }
            .se-hdr-menu.se-side-menu {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 22;
                width: 100%;
                height: 100%;
                margin: 0;
                padding-top: 34px;
                display: none;
                background: @se-hdr-half-white;
                > ul {
                    > li {
                        float: none;
                        display: list-item;
                        padding: 8px 10px;
                        margin: 5px 0 5px 0;
                        > ul {
                            position: static;
                            background: transparent;
                            color: @se-hdr-dark-green;
                            > li {
                                a {
                                    color: @se-hdr-dark-green;
                                    padding: 0 0 0 10px;
                                    display: block;
                                }
                            }
                        }
                        a {
                            color: @se-hdr-dark-green;
                            display: block;
                        }
                    }
                    > li.active {
                        border-bottom: 0 none;
                        background-color: @se-hdr-green;
                        a {
                            color: @se-hdr-white;
                        }
                        > ul {
                            background: transparent;
                        }
                    }
                    > li:hover {
                        background-color: @se-hdr-green;
                        a {
                            color: @se-hdr-white;
                        }
                    }
                }
                .se-hdr-menu-close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 24px;
                    outline: none;
                }
            }
            .se-hdr-menu.se-side-menu.se-side-menu-show {
                display: block;
            }
        }
    }
    body {
        .se-custom-header {
            .se-top-header {
                .side-drawer {
                    display: none;
                }
            }
            .side-drawer-container {
                position: fixed;
                top: 0;
                left: -250px;
                z-index: 22;
                width: 250px;
                height: 100%;
                margin: 0;
                background: @se-hdr-side-drawer-bg-color;
                width: 250px;
                display: block !important;
                overflow: auto;
                font-size: 12px;
                line-height: 14px;
                color: @se-hdr-dark-green;
                transition: left 0.3s;
                -webkit-transition: left 0.3s;
                > * {
                    display: block;
                    margin-bottom: 10px;
                    float: none !important;
                }
                .se-plain-text {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    line-height: 16px;
                    font-size: 12px;
                    padding: 0px 10px;
                }
                .se-country-top, .se-login-top, .se-hdr-menu {
                    display: block;
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li:first-child {
                            border-top: 0px none;
                        }
                        li {
                            margin: 0;
                            padding: 0;
                            background-color: @se-hdr-white;
                            color: @se-hdr-slate-gray;
                            display: block;
                            line-height: 32px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            padding: 0 10px 0px 15px;
                            .fa {
                                line-height: 28px;
                                font-size: 16px;
                                margin-right: 8px;
                            }
                            a {
                                color: @se-hdr-slate-gray;
                                cursor: pointer;
                                &:hover {
                                    color: @se-hdr-green;
                                }
                            }
                            &:hover {
                                color: @se-hdr-green;
                            }
                            .dropdown-menu.profile-details {
                                min-width: 250px;
                                ul {
                                    li {
                                        background-color: @se-hdr-white;
                                        color: @se-hdr-green;
                                        font-size: 12px;
                                        a {
                                            color: @se-hdr-slate-gray;
                                            &:hover {
                                                color: @se-hdr-green;
                                            }
                                        }
                                        &:hover {
                                            color: @se-hdr-green;
                                        }
                                    }
                                }
                            }
                        }
                        li.active > a {
                            font-weight: bold;
                            color: @se-hdr-green;
                        }
                        li.parent-item {
                            position: relative;
                            padding-right: 12px;
                            &::before {
                                content: " ";
                                display: block;
                                width: 0;
                                height: 0;
                                margin-left: 2px;
                                vertical-align: middle;
                                border-right: 4px solid transparent;
                                border-left: 4px solid transparent;
                                border-top: 4px solid;
                                position: absolute;
                                top: 12px;
                                right: 12px;
                            }
                        }
                        li.parent-item.submenu-open {
                            &::before {
                                border-top: 0px none;
                                border-right: 4px solid transparent;
                                border-left: 4px solid transparent;
                                border-bottom: 4px solid;
                            }
                        }
                    }
                }
                se-hdr-selector {
                    width: 100%;
                    display: block;
                    .se-hdr-selector {
                        background-color: @se-hdr-white;
                        padding: 5px 10px;
                        float: none !important;
                        width: 100% !important;
                        .se-hdr-selector-btn {
                            &:after {
                                font-size: 14px;
                                top: 3px;
                            }
                            .se-btn {
                                width: 100%;
                                border: 0 none;
                                background-color: @se-hdr-dark-green;
                                height: 34px;
                                border-radius: 3px;
                                text-align: center;
                            }
                        }
                        .se-hdr-selector-options-wrap {
                            position: static;
                            width: 100% !important;
                            box-shadow: 0 0 0 0;
                        }
                    }
                }
                .se-hdr-menu {
                    .side-title {
                        .side-title;
                    }
                    li {
                        a {
                            display: block;
                        }
                        ul.se-hdr-submenu {
                            display: none;
                        }
                        ul.se-hdr-submenu.active {
                            display: block;
                            margin: 0 -10px;
                            li {
                                padding: 0 10px 0 20px;
                                a {}
                            }
                        }
                    }
                }
                .se-hdr-title {
                    padding: 10px 5px 10px 25px;
                    background-color: @se-hdr-dark-green;
                    font-size: 16px;
                    line-height: 22px;
                    position: relative;
                    .fa {
                        position: absolute;
                        top: 14px;
                        left: 5px;
                        color: @se-hdr-white;
                    }
                    a {
                        color: @se-hdr-white;
                        text-align: center;
                        display: block;
                        margin-left: -20px;
                    }
                }
                .se-hdr-search {
                    width: 100% !important;
                    .side-title {
                        .side-title;
                    }
                    .se-hdr-seach-form {
                        margin: 0;
                        padding: 5px 10px;
                        background-color: @se-hdr-white;
                        position: relative;
                        .se-hdr-search-input {
                            border-radius: 3px;
                            margin-bottom: 0px;
                            input.form-control {
                                padding: 6px 30px 6px 12px;
                            }
                            input.ng-pristine.ng-invalid {
                                border: 1px solid @se-hdr-dark-green;
                            }
                        }
                        .se-hdr-search-icon {
                            position: absolute;
                            top: 12px;
                            right: 15px;
                            margin: 0;
                            .se-hdr-search-btn {
                                background: none;
                                border: 0px none;
                                outline: none;
                                color: @se-hdr-dark-green;
                                font-size: 16px;
                                line-height: 16px;
                            }
                        }
                    }
                }
                se-hdr-btn {
                    width: 100% !important;
                    display: block;
                    .side-title {
                        .side-title;
                    }
                    .se-hdr-btn {
                        background-color: @se-hdr-white;
                        padding: 5px 10px;
                        .se-btn {
                            width: 100%
                        }
                    }
                }
                se-hdr-dropdown {
                    width: 100%;
                    display: block;
                    .side-title {
                        .side-title;
                    }
                    .se-hdr-dropdown {
                        background-color: @se-hdr-white;
                        padding: 5px 10px;
                        float: none !important;
                        .btn.se-hdr-dropdown-btn {
                            width: 100% !important;
                            background-color: @se-hdr-dark-green;
                            border: 1px solid @se-hdr-green;
                            text-align: left;
                            position: relative;
                            color: @se-hdr-white;
                            .ddlabel {
                                display: block;
                                text-align: center;
                                padding-right: 20px;
                                padding-left: 20px;
                            }
                            .glyphicon {
                                position: absolute;
                                top: 8px;
                            }
                            .caret {
                                position: absolute;
                                top: 13px;
                                right: 10px;
                            }
                        }
                        ul.dropdown-menu {
                            position: static !important;
                            width: 100%;
                            margin: -1px 0 0 0;
                            box-shadow: none;
                            background-color: transparent;
                            border: 0 none;
                            border-radius: 0;
                            float: none;
                            font-size: 12px;
                            li {
                                color: @se-hdr-slate-gray;
                                line-height: 32px;
                                border-bottom: 1px solid @se-hdr-white-two;
                                cursor: pointer;
                                a {
                                    color: @se-hdr-slate-gray;
                                    &:hover {
                                        color: @se-hdr-green;
                                        background-color: transparent;
                                    }
                                }
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
            .se-top-hdr-fixed {
                .se-hdr-column {
                    .side-drawer {
                        display: none;
                    }
                }
            }
            .se-header-main {
                .se-hdr-menu.se-side-menu {
                    -webkit-transform: translateX(-250px);
                    transform: translateX(-250px);
                    width: 250px;
                    display: block;
                }
                .se-hdr-main-wrap.row {
                    position: relative;
                    padding-right: 50px;
                    .se-hdr-column {
                        .side-drawer {
                            display: none;
                        }
                    }
                    .side-drawer-trigger {
                        display: block;
                        width: 25px;
                        color: @se-hdr-white;
                        height: 25px;
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
    body.menu-checked {
        overflow: hidden;
        .se-custom-header {
            .side-title {
                display: block;
            }
            .side-drawer-container {
                display: block;
                -webkit-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.5);
                left: 0px;
            }
            .se-header-main {
                .se-hdr-menu.se-side-menu.se-side-menu-show {
                    display: block;
                    -webkit-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.5);
                    box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.5);
                }
            }
        }
        .se-custom-header::before {
            content: " ";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
            height: 100%;
            width: 100%;
            z-index: 21;
        }
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

//se header template header content width function
.headerContentPadding(@padding,@content-width){
    #se-header-top-menu{
        padding: 14px @padding;
    }
    .hamburgerIcon,.appLogo,.loggedInUserInfo,.appContentHeaderTop{
        margin-right: @padding;
    }
    #se-header-top-menu .se-logo {
        padding-right: 0px;
    }
    .appContentHeaderTop {
        width: calc(~"100% - @{content-width}");
    }
    .userInfo{
        float:left;
    }
    #se-header-bottom-menu{
        padding-left:@padding;
        padding-right: @padding;
    }
    .before-login{
        //width:100%;
        text-align: right;
        position:absolute;
        right:102px;
    }
}
.headerImagePadding(){
    margin-top:6px;
    margin-bottom:6px;
}
.userInfoDropdownPosition(@right){
    .loggedInUserInfo > li > .dropdown-menu{
        right:@right;
    }
}
//se-header new template starts
@media only all and (min-width: 480px) {
    .headerContentPadding(16px,337px);
     .navbar-nav{
       margin:0px;
     }
}
@media only all and (min-width: 768px) {
    .headerContentPadding(16px,337px);
     //.userInfoDropdownPosition(-10px);
}
@media only all and (min-width: 992px) {
    .headerContentPadding(16px,337px);
    //.userInfoDropdownPosition(-10px);
}
@media only all and (min-width: 1024px) {
    .headerContentPadding(24px,369px);
    //.userInfoDropdownPosition(-10px);
}
#se-header-template {
    width: 100%;
    top: 0;
    margin :0 auto;
    font-family: "ArialRounded", Arial;
    font-size: 14px;
    line-height: 20px;
    z-index: 10;
    position: fixed;
    box-sizing: border-box;
}

#se-header-bottom-menu {
    min-height: 4px;
    max-height: 48px;
    background-color: #3dcd58;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
}
.appContentHeaderBottom{
    float: left;
}
//new design
#se-header-top-menu {
    height: 64px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.hamburgerIcon {
    width: 18px;
    height: 12px;
    object-fit: contain;
    float:left;
    a{
        cursor: pointer;
        color:#3dcd58;
    }
    img{
        margin-top:12px;
        margin-bottom:12px;
    }
}
/**hamburger sidedrawer starts**/
.hamburgerIcon {
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: transparent;
    }
}

.hamburgerIcon{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    width: 0px;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
    border-right: solid 1px #979797;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding:0px 24px 24px 24px;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.hamburgerIcon.toggled #sidebar-wrapper {
    min-width: 240px;
    max-width: 100%;
    left:220px;
}
#sidebar-wrapper img{
    margin:0px;
}


.hamburgerIcon button.close{
    padding:24px 0px 24px 0px;
    opacity:unset;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
}
/**hamburger sidedrawer ends**/
.appLogo {
    float:left;
    width: 140px;
    height: 24px;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    .headerImagePadding();
}
.appLogo img{
    height:24px;
}
.appContentHeaderTop {
    float:left;
    height: 24px;
    overflow: hidden;
    .headerImagePadding();
}
.loggedInUserInfo {
    width: 36px;
    height: 36px;
    background-color: #ebebeb;
    border-radius: 50%;
    a{
        cursor:pointer;
        color:#4a4a4a;
    }
}
.userInfo{
    .nav .navbar-nav .loggedInUserInfo .loginprofile{
        display: none;
    }
    .navbar-nav > li > .dropdown-menu{
      padding-bottom: 0px;
      padding-top: 3px;
    }
    .dropdown-menu {
        position: absolute;
        background-color: #ffffff;
        max-width: 360px;
        //padding:4px 0;
        padding:0px;
        margin:0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
        border-image-slice: 1;
        height: auto;
        z-index: 1;
        line-height: 14px;
        left:unset;
    }
    /*.dropdown-menu li {
        padding:11px 16px;
        background-color: #f7f7f7;
    }
    .dropdown-menu li:hover{
        background-color: #f7f7f7;
    }*/
    .dropdown-menu li a{
        padding:11px 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 14px;
    }
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:visited{
       background-color: #ffffff;
    }
    .dropdown-menu > li > a:hover{
        background-color: #f7f7f7;
    }
    .userInfo .nav > li:first-child > a:hover, .userInfo .nav > li:first-child > a:focus{
        background-color: #ebebeb;
    }
    .userInfo li.user-name>a{
        margin-top: 9px;
        top:-10px;
    }
    .nav > li > a:hover, .nav > li > a:focus{
        background-color: #f7f7f7;
        border: none;
        outline: none;
    }
    .se-country-language-selection-region-name{
        font-size:14px;
        line-height: 14px;
        color:#4A4A4A;
        padding:11px 16px;
    }
    .last-text{
        padding-top:10px;
    }
    .user-full-name p{
       color:#3dcd58;
       font-weight: bold;
       padding:11px 16px;
       margin-bottom: 0px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
    .divider{
        margin:0px;
        padding:0px!important;
    }

    .nav-stacked{
        padding-top:0px;
    }
    /* To Dropdown navbar dropdown on hover */
    .user-full-name a{
        color:#3dcd58;
        font-weight: bold;
    }
    .dropdown-submenu {
        position: relative;
    }
    .user-name a{
        padding:0px;
        margin-bottom: 0px;
    }
    .country-select{
      font-weight: normal;
      margin-top: 0px;
    }

    .dropdown-submenu>.dropdown-menu {
        top: -4px;
        left: auto;
        right:100.5%;
        background-color: #ffffff;
        padding-top:4px;
        margin:0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
        border-image-slice: 1;
        height: auto;
        z-index: 1;
        line-height: 14px;
    }
    .dropdown-submenu>.dropdown-menu li a:last-child {
         margin:0px;
     }
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #000000;
        position: absolute;
        margin-right: -4px;
        right: 14px;
        top:13px
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #000000;
    }
    .dropdown-submenu.pull-left {
        float: none;
    }
    li.disabled-locale {
        opacity: 0.4;
        cursor: not-allowed;
    }
    li.disabled-locale a {
        pointer-events: none;
    }
    li.disabled-locale>a:after{
        display: none!important;
    }
    ul.disabled-locale{
        display: none!important;
    }
    a.user-name-text{
        background-color: #ebebeb!important;
        margin-top: 9px!important;
        top:-10px!important;
    }
    ul.dropdown-position{
        right: -10px!important;
    }

    @media (min-width: 768px) {
        /*added by T Morphy */
        /*from http://www.barrykooij.com/bootstrap-submenu-open-on-mouse-over/ to get hover behaviour on desktop */
        ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
        ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
            display: none;
        }
        ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
            display: block;
        }

    }

}
.loginprofile{
        padding:9px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;
}
.se-logo {
    float:right;
    width: 79px;
    height: 24px;
    object-fit: contain;
    .headerImagePadding();
}
//bootstrap
//se-header template ends
