.caroussel-object img {
    float: left;
    padding-right: 10px;
}

.caroussel-object .mainInfo {
    font-size: 14px;
    font-family: ArialRounded;
    color: #3DCD58;
}

.caroussel-object h1 {
    font-size: 24px;
    font-family: ArialRounded;
    color: #4a4a4a;
}

.caroussel-object p {
    font-size: 12px;
    font-family: ArialRounded;
    color: #9b9b9b;
}

.se-link-blue {
    color: #42b4e6;
}


/* documentation */

.doc-main-content {
    margin: 15px 0;
}

.doc-main-content .doc-nave ul {
    margin: 0;
    padding: 0;
}

.typeLabel {
    color: #ff00ff;
}

.doc-nav {
    position: fixed;
    margin: 0 0 3% 0;
    padding: 0;
    width: 100%;
    max-width: calc(100% - 78%);
    height: 100%;
    max-height: calc(100% - 220px);
    overflow: auto;
}

.side-fix-nav {
    margin: 0;
    padding: 0;
}

.side-fix-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-fix-nav li strong {
    display: block;
    margin: 0;
    padding: 15px 5px 10px 2px;
    color: #3dcd58;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
}

.side-fix-nav li a {
    display: block;
    margin: 0;
    padding: 10px 5px;
    color: #3dcd58;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    cursor: pointer;
}

.side-fix-nav li:first-child a {
    border-top: 1px solid #fafafa;
    border-radius: 3px 3px 0 0;
}

.side-fix-nav li:last-child a {
    border-radius: 0 0 3px 3px;
}

.side-fix-nav li a:hover {
    color: #000000;
}

.component-content {
    display: none;
}

.component-content.pageActive {
    display: block;
}

.wiki-content {}

.wiki-content h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #3dcd58;
    margin: 0 0 15px 0;
    padding: 0;
}

.wiki-content h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #3dcd58;
    margin: 24px 0 0 0;
    padding: 0;
}

.wiki-content h4 {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #3dcd58;
    margin: 5px 0 5px 0;
    padding: 0;
}

.wiki-content hr {
    margin: 3px 0 10px 0px;
    padding: 0;
    height: 1px;
    background: #ccc;
}

.code-content pre {
    padding: 0;
    margin: 0;
    border: 0 none;
    line-height: 14px;
    font-size: 12px;
    background-color: transparent;
    border-radius: 3px;
    margin-bottom: 10px;
}

.code-content code.hljs {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 10px 10px;
    /* background: transparent; */
    border-radius: 3px;
    white-space: pre-line;
    word-break: break-word;
}

.code-content.whiteSpaceNormal code.hljs {
    white-space: pre-wrap;
}

.sectionMacroRow:after {
    display: block;
    clear: both;
    content: ' ';
}

.columnMacro {
    float: left;
    padding-left: 10px;
}

.confluence-embedded-file-wrapper {
    max-width: 100%;
}

.confluence-embedded-file-wrapper img {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #ccc;
    max-width: calc(100% - 4px)
}

.code.panel {
    border: 0 none !important;
}


/* search results */

.searchpage {
    text-align: center;
    font-weight: bold;
    margin-top: 160px;
    border: 1px solid rgba(102, 102, 102, 0.31);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.searchpage h3 {
    font-size: 16px;
    text-align: left;
    padding: 30px 30px 15px 30px;
    margin: 0;
}

.searchpage h1 {
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #3dcd58;
    text-transform: uppercase;
    line-height: 80px;
}

.searchpage p {
    font-size: 14px;
    margin-top: 15px;
    line-height: 20px;
}

.searchpage span.keyword {
    color: #48C8D3;
    font-size: 18px;
}

.searchpage p span {
    font-size: 12px;
    color: #009530;
}

.example .se-custom-header {
    left: -99999;
}

.example.exampleActive .se-custom-header {
    left: 0;
}

.se-hdr-column.floatRight > * {
    float: right !important;
}

@media only screen and (max-width: 768px) {
    .doc-nav {
        position: static;
        margin: 0 0 20px 0;
        padding: 0;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    body.menu-checked .example .se-custom-header .side-drawer-container {
        display: none !important;
    }
    body.menu-checked .example.exampleActive .se-custom-header .side-drawer-container {
        display: block !important;
    }
    body.menu-checked .example .se-custom-header::before {
        display: none !important;
    }
    body.menu-checked .example.exampleActive .se-custom-header::before {
        display: block !important;
    }
}
/**dropdown css code for demo purpose**/
                       .appContentHeaderTop .dropdown{
                         float:left;
                         border:1px solid #3dcd58;
                         color:#000000;
                         width: 160px;
                         text-align: center;
                         cursor:pointer;
                       }
.appContentHeaderTop .dropdown a{
  color:#3dcd58;
}
.appContentHeaderTop .open{
  position:absolute;
  overflow:visible;
}
/**dropdown code for css ends**/
